{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}


<div class="breadcrumbs overlay" style="background-image:url('{% static 'images/breadcrumb-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Bizning o'qituvchilar</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="bread-list">
                    <li><a href="/">Asosiy<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="/teachers/list">o'qituvchilar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="teachers archive section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="section-title bg">
                    <h2>Biznig malakali o'qituvchilarimiz</h2>
                    <p>
                        O'z kasbinig yetuk o'qituvchilarimiz bilan tanishing
                    </p>
                    <div class="icon"><i class="fa fa-users"></i></div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for teacher in teachers %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-teacher">
                    <div class="teacher-head overlay">
                        {% if teacher.profile_picture %}
                        <img src="{{ teacher.profile_picture.url }}" alt="#">
                        {% else %}
                        <img src="{% static 'images/teacher.jpg' %}" alt="#">
                        {% endif %}
                        <ul class="social">
                            <li><a href="https://t.me/{{ teacher.tg_username }}" target="_blank"><i
                                        class="fa fa-telegram"></i></a></li>
                            <li><a href="mailto: {{ teacher.email }}"><i class="fa fa-mail-reply"
                                        target="_blank"></i></a></li>
                            <li><a href="tel:{{teacher.phone}}"><i class="fa fa-phone" target="_blank"></i></a></li>
                        </ul>
                    </div>
                    <div class="teacher-content">
                        <h4>{{ teacher.full_name }}<span> {{teacher.profession}} </span></h4>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}