<footer class="footer section">
    <div class="footer-top overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-widget about">
                        <h2>About 286-IDUM</h2>
                        <ul class="list">
                            <li><i class="fa fa-phone"></i>Phone: +998 99 770 73 75 </li>
                            <li><i class="fa fa-envelope"></i>Email: <a
                                    href="https://e.mail.ru/inbox/?app_id_mytracker=52848&authid=ko9qqcls.fp&back=1&dwhsplit=s10273.b1s&from=login&x-login-auth=1&new_reg=1&newreg=1">ITprocontactt@gmail.com</a>
                            </li>
                            <li><i class="fa fa-map-o"></i>Address: Toshkent chorsu</li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="active"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-widget list">
                        <h2>Useful Links</h2>
                        <ul>
                            <li><i class="fa fa-angle-right"></i><a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#">Our Courses</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#">Upcoming Events</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#faq">Faq's</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d66756.12683478827!2d64.38159870656473!3d39.777594981308724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f50060e65993cd5%3A0xc87beaf40e48e767!2sBukhara%2C%20Bukhara%20Region%2C%20Uzbekistan!5e1!3m2!1sen!2sus!4v1714514574251!5m2!1sen!2sus"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>