<footer class="footer section">
    <div class="footer-top overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-widget about">
                        <h2>286-Maktab haqida</h2>
                        <ul class="list">
                            <li><i class="fa fa-phone"></i>Telefon: +998 71 2892562 </li>
                            <li><i class="fa fa-map-o"></i>Manzil: O'zbekiston, Toshkent, Mirzo-ulug'bek tumani,
                                shaharcha ULUGBEK, DO'STLIK ko'chasi, 7</li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="active"><a
                                    href="https://www.facebook.com/Hokimiyat.MirzoUlugbek/videos/3270834806474755/"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/watch?v=fwKN3QGEC2A"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-widget list">
                        <h2>Foydali havolalar</h2>
                        <ul>
                            <li><i class="fa fa-angle-right"></i><a href="#">Asosiy</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#">Darslar</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#">Tadbirlar</a></li>
                            <li><i class="fa fa-angle-right"></i><a href="#faq">Savollar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.115693580237!2d69.46679939999999!3d41.41249555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef0858bc56e53%3A0x8525b9fe791ac604!2sSchool%20286%2C%20Gulamov%20Street%2C%20Ulugbek%2C%20Tashkent%20Region!5e0!3m2!1sen!2s!4v1714979639209!5m2!1sen!2s"
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>