{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<section class="home-slider">
    <div class="slider-active">
        <div class="single-slider overlay">
            <div class="slider-image" style="background-image:url('{% static 'images/slider/slider-bg.jpg' %}')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10 col-12">
                        <div class="slider-content">
                            <h1 class="slider-title"><span>Mirzo Ulug'bek tumani</span>
                                286 - <b>IDUM</b>
                            </h1>
                            <p class="slider-text">
                                MIRZO ULUG'BEK TUMANI 286-SONLI IXTISOSLASHTIRILGAN DAVLAT UMUMTA`LIM MAKTABI AXBOROT
                                TIZIMI
                            </p>
                            <div class="button">
                                <a href="{% url 'courses_list' %}" class="btn white primary">Maktabimiz bilan
                                    tanishish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="section-title bg">
                    <h2>Bizning <span>kurslarimiz</span></h2>
                    <p>Kurslarimiz orqali juda ko'p malumotlar olishingiz mumkin</p>
                    <div class="icon"><i class="fa fa-clone"></i></div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for course in courses %}

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-course">
                    <div class="course-head overlay">
                        <img src="{{course.picture.url}}" alt="#">
                        <a href="#" class="btn white primary">Hozir ro'yxatdan o'ting</a>
                    </div>
                    <div class="course-body">
                        <div class="name-price">
                            <div class="teacher-info">
                                <img src="{{course.teacher.profile_picture.url}}" alt="#">
                                <h4 class="title">{{course.teacher.full_name}}</h4>
                            </div>
                            <span class="price">${{course.price}}</span>
                        </div>
                        <h4 class="c-title"><a href="#">{{course.title}}</a></h4>
                        <p>{{course.description}}</p>
                    </div>
                    <div class="course-meta">
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>{{course.enrolled_students}} Enrolled</span>
                            <span><i class="fa fa-calendar-o"></i>{{course.enrolled_students}} days</span>
                            <span><i class="fa fa-clock-o"></i>{{course.start_date}} - {{course.end_date}}</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>

<div class="features overlay section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="{% static 'images/feature1.jpg' %}" alt="#">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="feature-content">
                        <a href="https://www.old.eduportal.uz/" target="_blank">
                            <h4 class="f-title">Elektron darslar </h4>
                            <p>Elektron darslar orqali bilimingizni mustahkamlab borishingiz mumkin bo'ladi</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="{% static 'images/feature2.jpg' %}" alt="#">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="feature-content">
                        <a href="https://unilibrary.uz/" target="_blank">
                            <h4 class="f-title">Elektron Kutubxona</h4>
                            <p>
                                Online kutubxonamiz orqali o'zingizga kerakli kitoblarni topishingiz mumkin
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="{% static 'images/feature1.jpg' %}" alt="#">
                        <i class="fa fa-institution"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="f-title">Eng Yaxshi Imkoniyatlar</h4>
                        <p>O'qishingiz uchun bizning IDUM'da barcha sharoitlar bor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="{% static 'images/feature3.jpg' %}" alt="#">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="f-title">Sertifikatli O'qituvchilar</h4>
                        <p>Yaxshi natijalar bor bollar uchun serti sertifikatlar beriladi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="events section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="section-title bg">
                    <h2>Tadbirlar</h2>
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="event-img">
                    <img src="{% static 'images/event-left.png' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-7 col-12">

                {% for event in events %}

                <div class="coming-event">
                    <div class="single-event">
                        <div class="event-date">
                            <p>
                                {{ event.date|date:"d" }}<span>{{ event.date|date:"M" }}</span>
                            </p>
                        </div>
                        <div class="event-content">
                            <h3 class="event-title"><a href="#">{{ event.title }}</a></h3>
                            <p>{{ event.description}}</p>
                            <span class="entry-date-time"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                {{ event.start_time|date:"h:i A" }} at {{ event.end_time|date:"h:i A" }}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-inner overlay section" style="background-image:url('{% static 'images/cta-bg.jpg' %}')"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="text-content">
                        <h2>Maktabimiz shiori " <span style="color: green;">"Sifatli ta'lim kelajak poydevori</span>
                        </h2>

                        <div class="button">
                            <a class="btn white" href="{% url 'contact' %}">Biz bilan bog'laning</a>
                            <a class="btn white primary" href="{% url 'courses_list' %}">Kurslarni ko'rish</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="cta-image">
                        <img src="{% static 'images/girl-1.png' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faqs section" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="section-title bg">
                    <h2>Tez-tez So'raladigan <span>Savollar</span></h2>
                    <p>Bizga ko'p berilayotgan savolar ro'yxati orqali o'z savolingizga javob toping</p>
                    <div class="icon"><i class="fa fa-question"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="faq-image">
                    <img src="{% static 'images/faq.png' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="faq-main">
                    <div class="faq-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default active">
                                <div class="faq-heading" id="FaqTitle1">
                                    <h4 class="faq-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                            href="#faq1"><i class="fa fa-question"></i>Yangi darslar qachondan ishga
                                            tushuriladi?</a>
                                    </h4>
                                </div>
                                <div id="faq1" class="panel-collapse collapse show" role="tabpanel"
                                    aria-labelledby="FaqTitle1">
                                    <div class="faq-body">Tez kunlarda</div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="faq-heading" id="FaqTitle2">
                                    <h4 class="faq-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                            href="#faq2"><i class="fa fa-question"></i>Curabitur rhoncus commodo rutrum.
                                            Pellentesque</a>
                                    </h4>
                                </div>
                                <div id="faq2" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="FaqTitle2">
                                    <div class="faq-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
                                        Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi tristique senectus
                                        et netus et malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar,
                                        laoreet dolor quis, pellentesque ante. Cras nulla orci, pharetra at dictum
                                        consequat</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="faq-heading" id="FaqTitle4">
                                    <h4 class="faq-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                            href="#faq4"><i class="fa fa-question"></i>Tristique senectus et netus et
                                            malesuada fames ac turpis </a>
                                    </h4>
                                </div>
                                <div id="faq4" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="FaqTitle4">
                                    <div class="faq-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
                                        Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi tristique senectus
                                        et netus et malesuada fames ac turpis egestas. Aliquam nec lacus pulvinar,
                                        laoreet dolor quis, pellentesque ante. Cras nulla orci, pharetra at dictum
                                        consequat</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="text-content">
                    <h4>Biznig hamkorlarimiz!</h4>
                    <p>Biz o'z talaba, o'quvchilarimizni o'zimizga qiziqarli qilishga harakat qilamiz. Bizning
                        o'quvchilarimizning fikrlarini o'rganing va bizning faoliyatimizni o'zgartirish uchun
                        takliflaringizni qoldiring. Bizning o'quvchilarimizning fikrlarini o'rganing va bizning
                        faoliyatimizni o'zgartirish uchun takliflaringizni qoldiring.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="client-slider">
                    <div class="single-slider">
                        <a href="#"><img src="{% static 'images/clients/clint1.jpg' %}" alt="#"
                                style="border-radius: 20px; width: 100px;"></a>
                    </div>
                    <div class="single-slider">
                        <a href="#"><img src="{% static 'images/clients/clint2.jpg' %}" alt="#"
                                style="border-radius: 20px; width: 100px;"></a>
                    </div>
                    <div class="single-slider">
                        <a href="#"><img src="{% static 'images/clients/clint3.jpg' %}" alt="#"
                                style="border-radius: 20px; width: 100px;"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}